<h2>Donate to the Campaign</h2>

    <img src="{{foundCampaign.imageUrl}}" alt="room pic">
    <p>{{foundCampaign.name}}</p>

    <form method="post" action="/pledges/{{foundCampaign._id}}/add-pledge">

    <label>Pledge</label>
    <input name = "comment" type="text" value="">
    <label>Amount</label>
    <input name = "amount" type="number" value="">

    <button type="submit">Add Pledge</button>






