<h2>Donate to the Campaign</h2>

    <img src="{{foundCampaign.imageUrl}}" alt="room pic">
    <p>{{foundCampaign.name}}</p>

    <form method="post" action="/pledges/{{foundCampaign._id}}/add-pledge">

    <label>Pledge</label>
    <input name = "comment" type="text" value="">
    <label>Amount</label>
    <input name = "amount" type="number" value="">

    <button type="submit">Add Pledge</button>

    {{!-- <form id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form> --}}





