    
    
    <form id="payment-form">
    {{!-- <label>Pledge</label>
    <input name = "comment" type="text" value="">
    <label>Amount</label>
    <input name = "amount" type="number" value=""> --}}
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>

      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>

    <script src="/javascripts/checkout.js" defer></script>