<h2>Create a New Campaign</h2>

<form method ="post" action="/campaigns/create-campaign">
<label>Name</label>
<input name = "name" type="text" required>
<label>Description</label>
<input name = "description" type="text">
<label>Image</label>
<input name = "imageUrl" type="text">

<button type="submit">Create Campaign</button>

</form>

