<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {{!-- <script src="luxon.js"></script> --}}
  </head>
  <body>

    <a href="/">Home</a>
    <a href="/users/login">Login</a>
    <a href="/users/signup">Signup</a>
    <a href="/users/logout">Logout</a>
    <a href="/campaigns/campaigns-list">See All Campaigns</a>
    <a href="/campaigns/create-campaign">Create a New Campaign</a>
    <a href="/campaigns/my-campaigns">See My Campaigns</a>


    {{{body}}}
  </body>
</html>
