body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  width: 100vw;
  height: 100vh;
  /* background-color: #FFD500; */
}

.body {
  margin-top: 16vh;
  /* height: 100vh; */
}
/* body, html {
  height: 100%;
  margin: 0;
} */

.header-img {
  margin-top: -7%;
  height: 16vh;
}

#checkout-button{
margin-left: 23%;

}



.index-hl {
 text-align: center;
 padding-top: 10px;
 font-size: 3.5em;
}


.header {
  position: fixed; 
  background-color: #005BBB;
  width: 100vw;

  /* width: 100%; */
  height: 12vh;
  z-index: 10;
  top: 0;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

nav {
  
  justify-items: right;
  padding-top: 3px;
  padding-right: 4vw;
}

nav ul {

  list-style: none;
  display: flex;
}

nav ul li a {
  color: #FFD500;
  font-size: 1.32rem;
  font-weight: lighter;

}

li {
  
  margin: 0 20px;
}

.index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(/images/©shutterstock_EWC-standwithUkraine_support-1024x682.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 38%;
  margin-top: -2%;

}

.index-btn {
  height: 23vh;
  width: 23vh;
  border-radius: 50%;
  color: #FFD500;
  background-color: #005BBB;
  font-size: 1.7em;
}

.index-left {
  margin-top: -3%;
  margin-left: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-right {
  margin-right: 7vw;
  margin-top: -5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-articles {

  color: #005BBB;
  /* height: 30vh; */
  /* margin: 20px 0; */


  /* padding: 1px; */
}

#ra1 {
  background-color: #FFD500;
  /* margin-bottom: 100px; */
  height: 25vh;
  padding: 0 10px;
  border-radius: 10%;
  
}

#ra2 {
  background-color: #FFD500;
  height: 25vh;
  margin-top: 50px;
  padding: 0 10px;
  padding-bottom: 120px;
  border-radius: 1%;
  border-radius: 10%;

}



nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

button {
  height: 36px;
  background: #005BBB;
  color: #FFD500;
  width: 33%;
  font-size: 14px;
  border: 0;
  margin: 5px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

button:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 50vw;
  border: 2px solid #005BBB;

}

.content img {
  display: block;
  /* width: 10vw; */
  margin: auto;
  /* margin-left: 50%; */
}

img {
  height: 30vh;
}

.name {
  text-align: center;
}


.pledges {
  margin-left: 20%;
}



h1 {
  font-size: 4.53rem;
  font-weight: 600;
}

h2 {
  text-decoration: underline;
}














































































/* 

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 20vh;
}


nav {
  position: fixed;
  background-color: white;
  padding: 5vh;
  margin: 0%;
}

.body {

  margin-top: 20vh
}



body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background: #242d60; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', 'Ubuntu', sans-serif;
  height: 100vh;
  /* margin: 0; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

/* .stripe-section {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 112px;
  border-radius: 6px;
  justify-content: space-between;
}

.product {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #242d60;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
} */

/* img {
  border-radius: 6px;
  margin: 10px;
  width: 54px;
  height: 57px;
} */

/* h3,
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #242d60;
  margin: 0;
}

h5 {
  opacity: 0.5;
}

button {
  height: 36px;
  background: #556cd6;
  color: white;
  width: 33%;
  font-size: 14px;
  border: 0;
  margin: 5px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

button:hover {
  opacity: 0.8;
}  */


































/* Variables */
/* * {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

#payment-form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 20vh;
  /* width: 20vw; */
/* }

.hidden {
  display: none;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
/* button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
/* .spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}   */